<aside class="sidebar">
    <div class="sidebar-header">
      <i class="icon-clonico logo-icon"></i>
      <h1 class="logo-text">Clonico</h1>
    </div>
    <nav class="nav-menu">
      <button class="nav-button active">
        <i class="fas fa-comment"></i> Feed
      </button>
      <button class="nav-button">
        <i class="fas fa-user"></i> Perfil
      </button>
      <button class="nav-button">
        <i class="fas fa-bell"></i> Notificações
      </button>
    </nav>
    <button class="logout-button" href='/logout'>
      <i class="fas fa-sign-out-alt"></i> Sair
    </button>
  </aside>