<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/static/images/clonico_icon.svg">
    <title>Página Não Encontrada - 404</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/erro404.css?v=1.0">

</head>
<body>
    <div class="error-container">
        <div class="icon">🎮</div>
        <h1>404</h1>
        <p>Ops! A página que você está procurando não foi encontrada.</p>
        <a href="index.html">Voltar para a página inicial</a>
    </div>
</body>

</html>