<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/static/images/clonico_icon.svg">
  <title>Clonico Feed</title>
  <link rel="stylesheet" href="/static/css/feed.css?=v1.2">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Ícones FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <div class="layout">
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="logo-icon"><i class="icon-clonico logo-icon"></i></div>
            <div class="logo-text">Clonico</div>
        </div>
        <div class="nav-menu">
            <button class="nav-button" onclick="window.location.href='/feed'"><i class="fas fa-home"></i> Início</button>
            <button class="nav-button" onclick="window.location.href='/profile'"><i class="fas fa-user"></i> Perfil</button>
            <button class="nav-button"><i class="fas fa-gamepad"></i> Jogos</button>
            <button class="nav-button"><i class="fas fa-user-friends"></i> Amigos</button>
            <button class="nav-button"><i class="fas fa-trophy"></i> Conquistas</button>
            <button class="nav-button"><i class="fas fa-cog"></i> Configurações</button>
        </div>
        <button class="logout-button" onclick="window.location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Sair</button>
    </div>

    <!-- Feed Principal -->
    <main class="feed custom-scrollbar-css">
      <form class="new-post" action="/post_feed" method="post" enctype="multipart/form-data">
        <div class="post-input">
          <i class="fas fa-user-circle avatar-icon"></i>
          <input type="text" id="titulo" name="titulo" placeholder="O que está jogando?" class="post-text-input" required>
        </div>
        <div class="post-actions">
          <label for="image-upload" class="image-upload-label">
            <i class="fas fa-image"></i>
            <input type="file" id="image-upload" name="imagem"  class="image-upload-input" accept=".jpg, .jpeg, .png">
          </label>
          <button class="post-button">Postar</button>
        </div>
      </form>
      
      <div class="post-conteiner">
        <!-- Posts -->
        {% for post in posts %}
        <div class="post-card">
          <div class="post-header">
            <i class="fas fa-user-circle post-avatar"></i>
            <div class="post-info">
              <p class="post-user"><span>@{{ post.username }}</span></p>
              <p class="post-time">2h</p>
            </div>
          </div>
          <p class="post-content">{{ post.titulo }}</p>
          <div class="post-image-placeholder">
            <img src="{{ post.imagem }}" alt="">
          </div>
          <div class="post-footer">
            <button class="like-button"><i class="fas fa-heart"></i> 42</button>
            <button class="repost-button"><i class="fas fa-retweet"></i> 12</button>
            <button class="comment-button"><i class="fas fa-comment"></i> 8</button>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>

    <!-- Barra lateral direita -->
    <aside class="right-sidebar">
      <div class="search-section">
        <div class="search-box">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Buscar no GamerMatch">
        </div>
      </div>
      <div class="trending-section">
        <h2>Tópicos em Alta</h2>
        <ul>
          <li>#E3Announcements</li>
          <li>#NewGameRelease</li>
          <li>#GamingSetup</li>
          <li>#StreamerShowcase</li>
          <li>#EsportsTournament</li>
        </ul>
      </div>
    </aside>
  </div>
</body>
</html>
