<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Seu Título Aqui</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!-- link para seu CSS -->
</head>
<body>
    <div class="container">
        <!-- Contêiner da mensagem de erro -->
        <div class="error-message" id="error-message" style="display: none;">
            <span id="error-text"></span>
        </div>
        
        <!-- O resto do seu conteúdo -->
        <h1>Bem-vindo ao Clonico</h1>
        <!-- Adicione mais conteúdo aqui -->
    </div>

    <script>
        // Verifique se há uma mensagem de erro a ser exibida
        const errorMessage = "{{ request.session.get('error_message') }}";
        if (errorMessage) {
            document.getElementById('error-text').textContent = errorMessage;
            document.getElementById('error-message').style.display = 'block';

            // Remover a mensagem de erro após 5 segundos
            setTimeout(() => {
                document.getElementById('error-message').style.display = 'none';
                // Enviar uma solicitação para limpar a mensagem de erro na sessão
                fetch('/clear-error-message', { method: 'POST' });
            }, 5000);
        }
    </script>
</body>
</html>
